.custom-time-picker {
    display: inline-block;
  }
  
  .time-select {
    border: 1px solid #ccc;
    width: 100px;
    display: inline-block;
    position: relative;
    user-select: none;
    margin: 5px;
  }
  
  .selected-value {
    padding: 10px;
    background-color: #f8f8f8;
    cursor: pointer;
  }
  
  .options-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 150px; /* Adjust height to control how many options are visible */
    overflow-y: auto;
    z-index: 1000;
  }
  
  .option {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  